alias rm='rm -i'
alias week='date +%V'
alias subl='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'
alias smerge='/Applications/Sublime\ Merge.app/Contents/SharedSupport/bin/smerge'
alias fl='rg --files | fzf'
alias hk='make --file=~/scripts/hkp/hkp.make'
alias sp='make --file=~/Sites/sp.make'
alias tp='zsh ~/scripts/tp.sh'
cl='sudo apt -y autoremove;sudo apt -y autoclean;sudo apt -y purge;'
