alias ls='exa'
alias rm='rm -i'
alias cat='bat'
alias week='date +%V'
alias subl='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'
alias fl='rg --files | fzf'
alias hk='make --file=~/hkp/Makefile'
alias srv='sudo nginx'
alias srvstop='sudo nginx -s stop'
alias tp='zsh ~/scripts/tp.sh'
c1='git -C "$HOME/Projects/chisel" switch ck; time python3 $HOME/Projects/chisel/chisel.py'
ch='git -C "$HOME/Projects/chisel" switch ch; time python3 $HOME/Projects/chisel/chisel.py'
cl='sudo apt -y autoremove;sudo apt -y autoclean;sudo apt -y purge;'