alias ls='exa'
alias rm='rm -I'
alias cat='bat'
alias week='date +%V'
alias subl='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'
alias fl='rg --files | fzf'
alias hk='make --file=~/hkp/Makefile'
alias srv='sudo nginx'
alias srvstop='sudo nginx -s stop'
alias tp='zsh ~/scripts/tp.sh'
